<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Arl - WebUI</title>
    <meta name="description" content="" />
    <meta name="author" content="anhpt" />
    <link rel="shortcut icon" href="/favicon.ico" />
<style>
  body {
    font-family: arial;
  }

  table {
    font-family: monospace;
    font-size: 12px;
  }

  table {
    width: 100%;
    white-space: nowrap;
    table-layout: fixed;
  }

  th {
    font-size: 13px;
    font-weight: normal;
    color: #333;
    padding: 10px;
    border-bottom: 1px solid #999;
  }

  td {
    color: #555;
    padding: 5px 10px;
    border-bottom: 1px solid #E2E2E2;
    overflow: hidden;
    text-overflow: ellipsis
  }

  tbody tr:hover td {
    color: #333;
  }

  text[text-anchor=end] {
    display: none;
  }
  
  #graph {
    min-width: 400px; 
    height: 400px; 
    margin: 0 auto;
  }
</style>
  </head>
  <body>
    <div>
      <header>
        <h2 title='Aggregating Real-time Logs'>Arl</h2>
      </header>
      <nav>
        <form action='/' method='POST'>
          <input type='search' name='query' placeholder="Query" {% if query %}value="{{ query }}"{% endif %}>
          <input type='text' name='graph_by' placeholder="(graph_by)" {% if graph_by %}value="{{ graph_by }}"{% endif %}>
          <input type='submit' value='Filter'>
        </form>
      </nav>
      <div id="graph"></div>
      
      {% if records %}
      <table id='records'>
        <thead>
          {% for i in records[0].keys() %}
          <th>{{ i }}</th>
          {% endfor %}
        </thead>
        
        <tbody>
          {% if graph_by in ['second', 'minute', 'hour', 'day', 'week', 'month', 'year'] %}
            {% set records = records[-10:] %}
          {% else %}
            {% set records = records[:10] %}
          {% endif %}
          
          {% for record in records %}
          <tr>
            {% for key in record.keys() %}
              <td title='{{ record[key] }}'>{{ record[key] }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
      {% endif %}
      
      <footer>
      </footer>
    </div>
    <script src='/public/jquery.js' type='text/javascript'></script>
    <script src="/public/highcharts.js"></script>
    <script src="/public/exporting.js"></script>


{% if graph_by in ['second', 'minute', 'hour', 'day', 'week', 'month', 'year'] %}
<script>
  var chart;
  
  $(document).ready(function() {
      chart = new Highcharts.Chart({
          chart: {
              renderTo: 'graph',
              type: 'spline'
          },
          title: {
              text: 'Graph'
          },
          subtitle: {
              text: 'Requests per second'
          },
          xAxis: {
              type: 'datetime',
              dateTimeLabelFormats: { // don't display the dummy year
                  month: '%e. %b',
                  year: '%b'
              }
          },
          yAxis: {
              title: {
                  text: 'Requests'
              },
              min: 0
          },
          tooltip: {
              formatter: function() {
                      return '<b>'+ this.series.name +'</b><br/>'+
                      Highcharts.dateFormat('%A, %B %d, %Y at %I:%M%p', this.x) +': '+ this.y +' request(s)';
              }
          },
          series: [ {
              name: 'Requests per second',
              data: [
                {% for k in counters.keys() %}
                  [Date({{ k.year }},  {{ k.month }}, {{ k.day }}, {{ k.hour }}, {{ k.minute }}, {{ k.second }}), {{ counters[k] }}],
                {% endfor %}
              ]
          }]
      });
  });
</script>
{% else %}

<script>
  var chart;
  $(document).ready(function() {
	  chart = new Highcharts.Chart({
		  chart: {
			  renderTo: 'graph',
			  type: 'column'
		  },
		  title: {
			  text: 'Graph'
		  },
		  subtitle: {
			  text: 'group by {{ graph_by }}'
		  },
		  xAxis: {
			  categories: [
			   {% for k in counters.keys()[:10] %}
			     "{{ k | truncate(30, True)}}",
			   {% endfor %}
			  ]
		  },
		  yAxis: {
			  min: 0,
			  title: {
				  text: ''
			  }
		  },
		  legend: {
			  layout: 'vertical',
			  backgroundColor: '#FFFFFF',
			  align: 'left',
			  verticalAlign: 'top',
			  x: 100,
			  y: 70,
			  floating: true,
			  shadow: false
		  },
		  tooltip: {
			  formatter: function() {
				  return ''+
					  this.x +': '+ this.y + ' request(s)';
			  }
		  },
		  plotOptions: {
			  column: {
				  pointPadding: 0.2,
				  borderWidth: 0
			  }
		  },
			  series: [
			   {
			     name: 'Number of requests',
    			 data: [
            {% for k in counters.keys()[:10] %}  
    			   {{ counters[k] }},
            {% endfor %}
    			]
    		},
    		]
	  });
  });
</script>
{% endif %}
  </body>
</html>
